@page "/employees"
@using UniformAccountingSystem.BLL.Dtos
@using UniformAccountingSystem.BLL.Abstractions;
@inject IEmployeesManager EmployeeManager

<PageTitle>Сотрудники</PageTitle>

<h1>Сотрудники</h1>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="page-controls">
        <button class="btn btn-outline-dark">
            Добавить
        </button>
        <div class="form-check">
            <label class="form-label">Уволенные</label>
            <input class="form-check-input" type="checkbox" />
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Должность</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr class="tr-functions">
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.WorkPosition</td>
                    <td>
                        <button class="btn btn-outline-dark btn-sm hidden">
                            Редактировать
                        </button>
                        <button class="btn btn-outline-dark btn-sm hidden">
                            Уволить
                        </button>
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private EmployeeDto[]? employees;

    protected override async Task OnInitializedAsync()
    {
        employees = (await EmployeeManager.GetAllAsync()).ToArray();
    }
}
