@page "/"
@using UniformAccountingSystem.BLL.Abstractions
@inject IEmployeesManager EmployeesManager

<PageTitle>Home</PageTitle>

<h1>Система учета выдачи спецодежды</h1>

<h5>Исходный код на <a href="https://github.com/magarich228/UniformAccountingSystem">GitHub</a>.</h5>

<span>Активных сотрудников в системе: @employeesCount</span>

@code{
    private int employeesCount;

    protected override async Task OnInitializedAsync()
    {
        employeesCount = (await EmployeesManager.GetAllAsync()).Count();
    }
}